header{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    display: flex;
}
header #logo .header-title{
    margin-right: 5.89px;
}

header #menu{
    list-style-type: none;
    display: flex;
    margin-left: auto;
}

header #menu #menu-home{
    margin-right: 10px;
    margin-right: 57px;
}

header #menu li{
    color: #FF6060;
    font-size: 24px;

}