@charset "UTF-8";
/*COULEURS*/
/*BREAKPOINTS*/
@font-face {
  font-family: "Montserrat";
  src: url("../assets/polices/Montserrat-VariableFont_wght.ttf");
}
body {
  font-family: "Montserrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  width: 100%;
}

header {
  margin: 40px 100px 69px 100px;
  display: flex;
  justify-content: space-between;
}
header #logo-header {
  width: 210px;
}
header nav #menu {
  list-style-type: none;
  display: flex;
}
header nav #menu #menu-home {
  margin-right: 57px;
}
header nav #menu li a {
  text-decoration: none;
  color: #ff6060;
  font-size: 24px;
}
header nav #menu li .active {
  border-bottom: 2px #ff6060 solid;
}

@media (max-width: 768px) {
  header {
    margin: 40px 100px 16px 100px;
  }
  header #logo-header {
    width: 145px;
  }
  header nav #menu #menu-home {
    margin-right: 25px;
  }
  header nav #menu li a {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  header {
    margin: 20px 20px 16px 20px;
  }
}
@media (max-width: 425px) {
  header nav #menu #menu-home {
    margin-right: 10px;
  }
  header nav #menu li a {
    font-size: 12px;
  }
}
@media (max-width: 375px) {
  header #logo-header {
    width: 100px;
  }
}
#banner {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0px 100px 43px 100px;
}
#banner #text-banner {
  font-size: 48px;
  margin: 0;
  padding: 0;
  position: absolute;
  /*on retire l'élément du flow*/
  top: 35%;
  color: white;
}
#banner img {
  border-radius: 25px;
  filter: brightness(75%);
  width: 1240px;
  object-fit: cover;
}

@media (max-width: 1250px) {
  #banner #text-banner {
    font-size: 40px;
  }
  #banner img {
    width: 1000px;
  }
}
@media (max-width: 1024px) {
  #banner #text-banner {
    font-size: 36px;
  }
  #banner img {
    width: 750px;
  }
}
@media (max-width: 768px) {
  #banner {
    margin: 0px 0px 43px 0px;
  }
  #banner #text-banner {
    font-size: 28px;
  }
  #banner img {
    width: 600px;
  }
}
@media (max-width: 600px) {
  #banner {
    margin: 0px 0px 43px 0px;
  }
  #banner #text-banner {
    font-size: 20px;
  }
  #banner img {
    width: 400px;
  }
}
@media (max-width: 425px) {
  #banner {
    margin: 0px 0px 22px 0px;
  }
  #banner #text-banner {
    font-size: 16px;
  }
  #banner img {
    width: 335px;
  }
}
@media (max-width: 375px) {
  #banner img {
    width: 300px;
  }
}
.card {
  position: relative;
  display: flex;
  justify-content: center;
  transition-duration: 0.5s;
}
.card a .cover-location {
  width: 340px;
  border-radius: 10px;
  object-fit: cover;
  height: 340px;
}
.card a .name-location {
  padding: 0;
  margin: 0 20px 20px 20px;
  position: absolute;
  bottom: 40px;
  font-size: 18px;
  color: white;
  max-width: 340px;
}

.card:hover {
  transform: scale(105%);
}

@media (max-width: 1250px) {
  .card a .cover-location {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 780px) {
  .card a .cover-location {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 600px) {
  .card a .cover-location {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 375px) {
  .card a .cover-location {
    width: 250px;
    height: 250px;
  }
  .card a .name-location {
    font-size: 16px;
  }
}
footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer #logo-footer {
  color: #61dafb;
  width: 122px;
  margin-top: 66px;
}
footer #copyrights {
  color: white;
  font-size: 24px;
  margin-bottom: 29px;
}

@media (max-width: 425px) {
  footer #copyrights {
    font-size: 12px;
  }
}
@media (max-width: 375px) {
  footer #logo-footer {
    width: 100px;
  }
}
#lodgings-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1240px;
  padding: 20px;
  justify-content: center;
  background-color: #f6f6f6;
  border-radius: 25px;
  margin: 0px auto 43px auto;
}
#lodgings-list .card {
  padding: 30px;
  background-color: #f6f6f6;
}

@media (max-width: 1250px) {
  #lodgings-list {
    margin-left: 50px;
    margin-right: 50px;
    max-width: none;
  }
  #lodgings-list .card {
    padding: 10px;
  }
}
@media (max-width: 600px) {
  #lodgings-list {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 425px) {
  #lodgings-list {
    background-color: white;
  }
  #lodgings-list .card {
    background-color: white;
  }
}
.collapse-section {
  display: flex;
  flex-direction: column;
  /*Bouton pour ouvrir la collapse*/
  /*Stylisation icone*/
  /*Stylisation rotate icone*/
}
.collapse-section .collapse {
  background-color: #ff6060;
  color: white;
  padding: 15px;
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  border-radius: 5px;
  transition: background-color 0.8s ease;
}
.collapse-section .collapse:hover,
.collapse-section active {
  background-color: #ff7878;
}
.collapse-section .collapse-title {
  text-align: left;
  font-size: 24px;
  margin: 0;
}
.collapse-section .collapse-icon {
  margin-left: auto;
  transition: transform 0.8s ease;
  margin-right: 16px;
}
.collapse-section .rotation {
  transform: rotate(180deg);
}
.collapse-section .collapse-content {
  background-color: #f7f7f7;
  overflow: hidden;
  transition: max-height 0.6s ease;
  border-radius: 0px 0px 5px 5px;
}
.collapse-section .collapse-text {
  color: #ff6060;
}

@media (max-width: 768px) {
  .collapse-section .collapse {
    padding: 10px;
  }
  .collapse-section .collapse-title {
    font-size: 16px;
  }
}
@media (max-width: 425px) {
  .collapse-section .collapse {
    padding: 8px;
  }
  .collapse-section .collapse-title {
    font-size: 13px;
  }
}
.tags {
  display: flex;
  margin-top: 20px;
  margin-bottom: 24px;
}
.tags .tag {
  padding: 3px 20px;
  font-size: 14px;
  margin-left: 10px;
  background-color: #ff6060;
  color: white;
  border-radius: 10px;
}

#container-gallery {
  display: flex;
  justify-content: center;
}
#container-gallery .gallery {
  display: flex;
  margin-top: 50px;
  width: 1240px;
  height: 415px;
  justify-content: center;
  position: relative;
}
#container-gallery .gallery #gallery-picture {
  width: 1240px;
  height: 415px;
  object-fit: cover;
  border-radius: 25px;
}
#container-gallery .gallery #btn-previous-picture,
#container-gallery .gallery #btn-next-picture {
  position: absolute;
  top: calc(50% - 46px);
  /*Centre parfait - avec la dimension de l'icône*/
  border: none;
  cursor: pointer;
  background-color: transparent;
}
#container-gallery .gallery #btn-previous-picture {
  transform: rotate(90deg);
  left: 0;
}
#container-gallery .gallery #btn-next-picture {
  transform: rotate(-90deg);
  right: 0;
}
#container-gallery .gallery #counter-picture {
  position: absolute;
  bottom: 25px;
  color: white;
  font-size: 24px;
}

@media (max-width: 1250px) {
  #container-gallery .gallery {
    width: 700px;
  }
  #container-gallery .gallery #gallery-picture {
    width: 700px;
  }
}
@media (max-width: 768px) {
  #container-gallery .gallery {
    width: 500px;
    height: 315px;
  }
  #container-gallery .gallery #gallery-picture {
    width: 500px;
    height: 315px;
  }
}
@media (max-width: 600px) {
  #container-gallery .gallery {
    width: 400px;
    height: 300px;
  }
  #container-gallery .gallery #gallery-picture {
    width: 400px;
    height: 300px;
  }
}
@media (max-width: 425px) {
  #container-gallery .gallery {
    width: 350px;
    height: 250px;
  }
  #container-gallery .gallery #gallery-picture {
    width: 350px;
    height: 250px;
  }
  #container-gallery .gallery #btn-previous-picture svg,
#container-gallery .gallery #btn-next-picture svg {
    width: 18px;
  }
  #container-gallery .gallery #counter-picture {
    font-size: 16px;
  }
}
#lodging-description {
  margin-left: auto;
  margin-right: auto;
  max-width: 1240px;
}
#lodging-description #container-primary-infos {
  display: flex;
  justify-content: space-between;
}
#lodging-description #container-primary-infos #container-logement-infos #active-name-location {
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 10px;
}
#lodging-description #container-primary-infos #container-logement-infos #active-place-location {
  font-size: 18px;
  margin: 0;
}
#lodging-description #container-primary-infos #container-logement-infos #active-name-location,
#lodging-description #container-primary-infos #container-logement-infos #active-place-location {
  color: #ff6060;
}
#lodging-description #container-primary-infos #container-owner-stars #evaluation {
  display: flex;
  justify-content: flex-end;
}
#lodging-description #container-primary-infos #container-owner-stars #evaluation .star {
  padding: 4px;
}
#lodging-description #container-primary-infos #container-owner-stars #container-owner {
  display: flex;
  justify-content: flex-end;
}
#lodging-description #collapses {
  display: flex;
  justify-content: space-between;
  margin: 0px 50px 50px 50px;
}
#lodging-description #collapses .collapse-section {
  width: 40%;
}
#lodging-description #collapses .collapse-section .collapse-content .collapse-text .list-equipments,
#lodging-description #collapses .collapse-section .collapse-content .collapse-text .description-logement-collapse {
  list-style-type: none;
  margin: 0;
  padding: 40px 20px 40px 20px;
}
#lodging-description #collapses .collapse-section .collapse-content .collapse-text .list-equipments li,
#lodging-description #collapses .collapse-section .collapse-content .collapse-text .description-logement-collapse li {
  font-size: 18px;
}
#lodging-description #collapses .collapse-section .collapse-content .collapse-text .description-logement-collapse {
  font-size: 18px;
}

@media (max-width: 1440px) {
  #lodging-description #container-primary-infos {
    justify-content: normal;
    margin-left: 50px;
    margin-right: 50px;
  }
  #lodging-description #container-primary-infos #container-logement-infos #active-name-location {
    font-size: 30px;
  }
  #lodging-description #container-primary-infos #container-owner-stars {
    margin-left: auto;
  }
}
@media (max-width: 768px) {
  #lodging-description #container-primary-infos {
    flex-direction: column;
  }
  #lodging-description #container-primary-infos #container-logement-infos .tags {
    margin-bottom: 16px;
  }
  #lodging-description #container-primary-infos #container-owner-stars {
    margin-left: 0;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  #lodging-description #container-primary-infos #container-owner-stars #container-owner {
    order: 1;
    margin-left: auto;
  }
  #lodging-description #container-primary-infos #container-owner-stars #container-owner .owner {
    margin-top: 0;
  }
  #lodging-description #container-primary-infos #container-owner-stars #evaluation {
    justify-content: normal;
  }
  #lodging-description #collapses {
    flex-direction: column;
    align-items: center;
  }
  #lodging-description #collapses #collapse-description {
    margin-bottom: 20px;
  }
  #lodging-description #collapses .collapse-section {
    width: 100%;
  }
}
@media (max-width: 600px) {
  #lodging-description #container-primary-infos {
    margin-left: 20px;
    margin-right: 20px;
  }
  #lodging-description #container-primary-infos #container-logement-infos #active-name-location {
    font-size: 18px;
  }
  #lodging-description #container-primary-infos #container-logement-infos #active-place-location {
    font-size: 14px;
  }
  #lodging-description #container-primary-infos #container-logement-infos .tags .tag {
    padding: 3px 5px 3px 5px;
  }
  #lodging-description #container-primary-infos #container-logement-infos .tags .tag span {
    font-size: 10px;
  }
  #lodging-description #container-primary-infos #container-owner-stars #container-owner .owner #owner-name {
    font-size: 12px;
  }
  #lodging-description #container-primary-infos #container-owner-stars #container-owner .owner img {
    width: 32px;
  }
  #lodging-description #collapses .collapse-section .collapse-title {
    font-size: 13px;
  }
  #lodging-description #collapses .collapse-section svg {
    width: 15px;
  }
  #lodging-description #collapses .collapse-section .collapse-content .collapse-text .description-logement-collapse,
#lodging-description #collapses .collapse-section .collapse-content .collapse-text .list-equipments li {
    font-size: 12px;
  }
  #lodging-description #collapses .collapse-section .collapse-content .collapse-text .description-logement-collapse,
#lodging-description #collapses .collapse-section .collapse-content .collapse-text .list-equipments {
    padding: 23px 11px 23px 11px;
  }
}
.owner {
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.owner #owner-name {
  font-size: 18px;
  margin-right: 10px;
  color: #ff6060;
}
.owner #owner-picture {
  border-radius: 50%;
  width: 64px;
}

#collapses-group {
  margin-right: 100px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#collapses-group .collapse-section {
  margin-bottom: 31px;
  max-width: 1023px;
}
#collapses-group .collapse-section .collapse-content .collapse-text p {
  font-size: 24px;
  margin: 0;
  padding: 36px 18px 36px 18px;
}

@media (max-width: 768px) {
  #collapses-group {
    margin-right: 50px;
    margin-left: 50px;
  }
  #collapses-group .collapse-section .collapse-content .collapse-text p {
    font-size: 15px;
  }
}
@media (max-width: 425px) {
  #collapses-group .collapse-section .collapse-content .collapse-text p {
    font-size: 12px;
    padding: 23px 11px 23px 11px;
  }
}
.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error-container #title-error,
.error-container #description-error,
.error-container #link-home {
  color: #ff6060;
  margin: 0;
}
.error-container #title-error {
  font-size: 288px;
  margin: 0 0 66px 0;
}
.error-container #description-error {
  font-size: 36px;
  margin: 0 0 182px 0;
  text-align: center;
}
.error-container #link-home {
  font-size: 18px;
  margin: 0 0 159px 0;
}

@media (max-width: 1024px) {
  .error-container #title-error {
    font-size: 200px;
  }
  .error-container #description-error {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .error-container #title-error {
    font-size: 160px;
  }
  .error-container #description-error {
    font-size: 20px;
  }
}
@media (max-width: 425px) {
  .error-container #title-error {
    font-size: 96px;
  }
  .error-container #description-error {
    font-size: 18px;
  }
  .error-container #link-home {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .star {
    width: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
