#banner{
  margin-left: 100px;
  margin-right: 100px;
  position: relative;

  #text-banner{
    font-size: 48px;
    margin: 0;
    padding: 0;
    position: absolute; /*on retire l'élément du flow*/
    top: 5rem;
    left: 5em;
    color: white;
  }

  img{
    border-radius: 25px;
  }

  img:after{
    content: "";
  }
}