#banner {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0px 100px 43px 100px;

  #text-banner {
    font-size: 48px;
    margin: 0;
    padding: 0;
    position: absolute; /*on retire l'élément du flow*/
    top: 35%;
    color: white;
  }

  img {
    border-radius: 25px;
    filter: brightness(75%);
    width: 1240px;
    object-fit: cover;
  }
}

@media (max-width: $brk_laptop_medium) {
  #banner {
    #text-banner {
      font-size: 40px;
    }

    img {
      width: 1000px;
    }
  }
}

@media (max-width: $brk_laptop_small) {
  #banner {
    #text-banner {
      font-size: 36px;
    }

    img {
      width: 750px;
    }
  }
}

@media (max-width: $brk_tablet_large) {
  #banner {
    margin: 0px 0px 43px 0px;
    #text-banner {
      font-size: 28px;
    }

    img {
      width: 600px;
    }
  }
}

@media (max-width: $brk_tablet_medium) {
  #banner {
    margin: 0px 0px 43px 0px;
    #text-banner {
      font-size: 20px;
    }

    img {
      width: 400px;
    }
  }
}

@media (max-width: $brk_mobile_large) {
  #banner {
    margin: 0px 0px 22px 0px;
    #text-banner {
      font-size: 16px;
    }

    img {
      width: 335px;
    }
  }
}

@media (max-width: $brk_mobile_medium) {
  #banner {
    img {
      width: 300px;
    }
  }
}
