#banner{
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 43px;

  #text-banner{
    font-size: 48px;
    margin: 0;
    padding: 0;
    position: absolute; /*on retire l'élément du flow*/
    top: 35%;
    color: white;
  }

  img{
    border-radius: 25px;
    filter: brightness(75%);
  }
}