#container-gallery{
  display: flex;
  justify-content: center;

  .gallery{
    display: flex;
    margin-top: 50px;
    width: 1240px;
    height: 415px;
    justify-content: center;
    position: relative;

    #gallery-picture{
      width: 1240px;
      height: 415px;
      object-fit: cover;
      border-radius: 25px;
    }

    #btn-previous-picture, #btn-next-picture{
      position: absolute;
      top: calc(50% - 46px); /*Centre parfait - avec la dimension de l'icône*/
      border: none;
      cursor: pointer;
      background-color: transparent;
    }
    #btn-previous-picture{
      transform: rotate(90deg);
      left: 0;
    }

    #btn-next-picture{
      transform: rotate(-90deg);
      right: 0;
    }

    #counter-picture{
      position: absolute;
      bottom: 25px;
      color: white;
      font-size: 24px;
    }
  }
}

@media (max-width: $brk_laptop_medium) {
  #container-gallery{
    .gallery{
      width: 700px;
      #gallery-picture{
        width: 700px;
      }
    }
  }
}

@media (max-width: $brk_tablet_large) {
  #container-gallery{
    .gallery{
      width: 500px;
      height: 315px;
      #gallery-picture{
        width: 500px;
        height: 315px;
      }
    }
  }
}

@media (max-width: $brk_tablet_medium) {
  #container-gallery{
    .gallery{
      width: 400px;
      height: 300px;
      #gallery-picture{
        width: 400px;
        height: 300px;
      }
    }
  }
}

@media (max-width: $brk_mobile_large) {
  #container-gallery{
    .gallery{
      width: 350px;
      height: 250px;

      #gallery-picture{
        width: 350px;
        height: 250px;
      }

      #btn-previous-picture svg, #btn-next-picture svg{
        width: 18px;
      }

      #counter-picture{
        font-size: 16px;
      }
    }
  }
}