header{
  margin: 40px 100px 69px 100px;
  display: flex;

  nav{
    margin-left: auto;

    #menu{
      list-style-type: none;
      display: flex;

      a{
        text-decoration: none;

        #menu-home{
          margin-right: 57px;
        }

        li{
          color: #FF6060;
          font-size: 24px;
        }
      }
    }
  }
}