#lodgings-list{
  background-color: #F7F7F7;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin-right: 100px;
  margin-left: 100px;
  padding: 43px;
  border-radius: 25px;

}