.owner{
  display: flex;
  align-items: center;
  margin-top: 24px;

  #owner-name{
    font-size: 18px;
    margin-right: 10px;
    color: $primary_color;
  }

  #owner-picture{
    border-radius: 50%;
    width: 64px;
  }
}